
@{
    ViewBag.Title = "ThemKH";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <form method="post" class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Thêm khách hàng</h6>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput"
                           placeholder="name@example.com" name="hovaten" required>
                    <label for="floatingInput">Họ và tên</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPassword"
                           placeholder="Password" name="taikhoan" required>
                    <label for="floatingPassword">Tài khoản</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword1"
                           placeholder="Password" name="matkhau" required>
                    <label for="floatingPassword1">Mật khẩu</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingPassword2"
                           placeholder="Password" name="email" required>
                    <label for="floatingPassword2">Email</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here"
                              id="floatingTextarea" style="height: 150px;" name="diachi" required></textarea>
                    <label for="floatingTextarea">Địa chỉ</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4"><i class="fa fa-grin-beam" style="font-size:30px"></i></h6>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingPassword5"
                           placeholder="Password" name="dienthoai" required>
                    <label for="floatingPassword5">Điện thoại</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingPassword"
                           placeholder="Password" name="ngaysinh" required>
                    <label for="floatingPassword">Ngày sinh</label>
                </div>
                <div class="col-sm-10 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gioitinh"
                               id="gridRadios1" value="Nam" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Nam
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gioitinh"
                               id="gridRadios2" value="Nữ">
                        <label class="form-check-label" for="gridRadios2">
                            Nữ
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gioitinh"
                               id="gridRadios3" value="Khác">
                        <label class="form-check-label" for="gridRadios3">
                            Khác
                        </label>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <button class="btn btn-danger" type="submit">Tạo mới</button>
                </div>
            </div>
        </div>
    </form>
</div>