@model IEnumerable<CuaHangOnline.Models.NhaTaiTro>
@foreach (var item in Model)
{
    <div class="bg-light p-4">
        <img src="~/Thuvien/img/@item.Anh" alt="thumbail" style="height:166px;width:166px">
    </div>
}
